@media only screen and (max-width: 1025px) {
    body {
        min-width: initial;
    }

    .container {
        padding: 0;
        width: 748px;
    }

    header {
        padding-bottom: 107px;
    }

    .header_text h1 {
        font-size: 40px;
    }

    .header_form {
        width: 900px;
        margin-left: -450px;
        bottom: -150px;
    }

    .header_form button.g_button {
        width: 287px;
        font-size: 16px;
    }

    .header_icons {
        width: 242px;
        font-size: 16px;
        text-align: center;
    }

    .hi_item {
        display: block;
        float: none;
        text-align: center;
    }

    .w_item {
        width: 182px;
    }

    .all_time_text {
        padding: 40px;
    }

    .all_time_pict {
        display: none;
    }

    .map_item {
        width: 192px;
    }

    .maps_list {
        padding: 0;
    }

    .ml_name {
        position: relative;
        width: auto;
        top: auto;
        margin-bottom: 20px;
        height: auto;
    }

    .maps_list ul {
        padding-left: 0;
        background: transparent;
    }

    #maps {
        padding: 40px 0 75px 0;
    }

    .spicker_av {
        width: 250px;
        height: 250px;
        border-radius: 100%;
        position: relative;
        float: none;
        overflow: hidden;
        margin: 0 auto 50px auto;
    }

    .spicker_av img {
        width: 100%;
    }

    .spicker_descript {
        float: none;
        width: auto;
    }

    #spicker,
    #repl,
    #why {
        margin-bottom: 40px;
    }

    .repl_item {
        width: 100%;
        margin: 0 0 10px 0;

    }

    .repl_item iframe {
        height: 300px;
    }

    .spicker_descript .section_title {
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 768px) {
    .container {
        width: auto;
        padding: 20px;
    }

    .container_header {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    header .container_header {
        margin-top: -50px;
        margin-bottom: -90px;
    }

    .header_text {
        -webkit-order: 0;
        -ms-order: 0;
        order: 0;
    }

    .header_icons_box {
        -webkit-order: 2;
        -ms-order: 2;
        order: 2;
        margin-top: 110px;
    }

    .header_form {
        -webkit-order: 1;
        -ms-order: 1;
        order: 1;
    }

    .header_text>p span {
        font-size: 14px;
        display: inline;
        padding: 4px 5px;
    }

    .container_header {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 500px) {

    .window_1,
    .window_2,
    .window_3 {
        display: none;
    }

    header {
        padding-top: 0;
    }

    .header_icons {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
    }

    header,
    footer {
        background-size: cover;
    }

    .header_form {
        width: auto;
        position: relative;
        margin-left: 0;
        bottom: 0;
        left: auto;
    }

    input.input_text {
        width: auto;
        width: 100%;
        float: none;
    }

    .header_form button.g_button {
        width: 100%;
        float: none;
    }

    .w_item,
    .map_item {
        width: auto;
        float: none;
        margin: 0 auto 15px auto;
    }

    .all_time {
        margin: 0;
    }

    .all_time_text {
        width: auto;
    }

    .repl_item iframe {
        height: 250px;
    }

    header,
    #maps {
        margin-bottom: 0;
    }

    .all_time_text {
        font-size: 18px;
        padding: 20px;
    }

    #maps .header_form {
        bottom: 0;
    }

    .menu_container {
        display: none;
    }

    .btn_footer a {
        font-size: 11px;
    }

    .section_title {
        font-size: 32px;
    }

    .header_text>p {
        margin-bottom: 30px;
    }

    .top_container {
        display: none;
    }
}

@media (max-width: 767.98px) {
    header .video-row {
        width: 100%;
        min-width: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #maps .header_form {
        left: 0;
    }

    header .header_text {
        margin-right: 0;

        h1 {
            font-size: 35px;
            line-height: 1.1;
            margin-bottom: -20px;
        }
    }

    .header_form {
        width: 100%;
    }

    header {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .lift-page {

        .authors-item_2 .authors-item__info-title,
        .authors-item_2 .authors-item__list strong {
            color: #fff;
        }
    }
}
